* {
    margin:         0;
    padding:        0;
    outline:        0;
    box-sizing:     border-box;
}

body {
    font:           400 14px Roboto, sans-serif;
    background:     #f0f0f5;
}

/* Style the header */
header {
    display: flex;
    flex-direction: row;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    padding: 10px;
}

/* Style the navigation menu */
nav {
    display: flex;
    flex-direction: row;
    background: transparent;
    padding: 10px;
    width: 100%;
    height: 40px;
}

nav div > a .img-navbar {
    
}

nav div  {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
}

nav div ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}


nav div ul > li .nav-link {
    padding: .5rem 1rem;
    color: #cbbde2;
    text-decoration: none;
    font-weight: 600;
}

nav div ul > li .nav-link.active {
    font-weight: 600;
}

nav div ul > li .nav-link.active, 
nav div ul > li .nav-link:hover {
    color: #fff;
}


/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}





/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}